button.open {
    background: none;
    border: 3px solid #fbb03b;
    font-size: 1rem;
    padding: .5em 3em;
    border-radius: 3.5em;
    color: #fbb03b;
    cursor: pointer; 
    font-weight: bold;
}

button.open:hover{
    background: none;
    /* border: 3px solid #fbb03b; */
    background-color: #fbb03b;
    font-size: 1rem;
    padding: .5em 3em;
    border-radius: 3.5em;
    color: #ffffff;
    cursor: pointer; 
    font-weight: bold;
}