* {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

footer.footer_bg {
    /* height: 280px; */
    width: 100%;
    background-color: #202020;
    display: flex;
    align-items: center;
}

@media (max-width: 1199px) {
    footer.footer_bg {
        /* height: 650px; */
        width: 100%;
        background-color: #202020;
        display: flex;
        align-items: center;
    }
}

div.footer_content {
    /* border: 1px solid red; */
    width: 60%;
    margin-top: 80px;
    margin-bottom: 80px;
    /* height: 65%; */
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1199px) {
    div.footer_content {
        width: 80%;
        margin-top: 80px;
        margin-bottom: 80px;
        /* height: 250px; */
        display: flex;
        justify-content: space-between;
    }
}

div.footer_width {
    /* border: 1px solid red; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between;
}

@media (max-width: 1199px) {
    div.footer_width {
        width: 100%;
        /* height: 300px; */
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content: space-between;
    }
}

div.logo_address {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 60px;
}

@media (max-width: 1199px) {
    div.logo_address {
        /* width: 80%; */
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        margin-bottom: 60px;
    }
}

img.footer_logosize {
    /* border: 1px solid red; */
    width: 100px;
}

@media (max-width: 1199px) {
    img.footer_logosize {
        width: 100px;
        margin-bottom: 30px;
    }
}

div.logo_address>div {
    margin: 0px;
}

@media (max-width: 1199px) {
    div.logo_address>div:first-child {
        margin: auto;
    }
}

div.address {
    /* border: 1px solid red; */
    display: flex;
    /* justify-content:flex-start; */
    flex-direction: column;
}

@media (max-width: 1199px) {
    div.address>span:last-child {
        margin-bottom: 30px;
    }
}

span.span_address {
    color: white;
    margin: 0px;
    margin-top: 10px;
    
    font-size: .8rem;
}

span.icon_address::before {
    /* border: 1px solid red; */
    content: "";
    display: inline-block;
    background-image: url(../image/map-marker-alt-solid.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    margin-right: 10px;
}

span.icon_tel::before {
    /* border: 1px solid red; */
    content: "";
    display: inline-block;
    background-image: url(../image/phone-solid.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    margin-right: 10px;
}

span.icon_mail::before {
    /* border: 1px solid red; */
    content: "";
    display: inline-block;
    background-image: url(../image/envelope-solid.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
    margin-right: 10px;
}

table.table_link {
    margin: 0px;
}

span.project_statement {
    /* border: 1px solid red; */
    color: white;
    
    font-size: .3rem;
}

table.table_link td {
    padding-top: 10px;
    padding-right: 60px;
}

a.footer_link {
    color: #E7E7E7;
    text-decoration: none;
    
    font-size: .8rem;
}

a.footer_link:hover {
    color: #FBB03B;
}

svg.footer_svgLogo {
    margin-left: 15px;
    width: 27px;
    height: 27px;
}

svg.footer_svgLogo a {
    color: #E7E7E7;
}

svg.footer_svgLogo a:hover {
    color: #FBB03B;
}

div.statement_width {
    margin: 0px;
    /* width: 80%; */
}

div.social_width {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
}

div.statement_social {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}