.bannerheight>img:last-child{
    width: 100%;
    height: auto;
}


  .scene {
    position: absolute;
    width: 100%;
    transform: translateY(var(--translateY));
    will-change: transform;
    
  }