/* 以下是咖啡種類 */

div.height {
    height: 240px;
}

a {
    text-decoration: none;
}

nav.nav_coffee {
    width: 100%;
    position: fixed;
    top: 100px;
    background-color: #202020cc;
    z-index: 2;
}

div.nav_coffeewidth {
    width: 60%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 992px) and (max-width: 1235px) {
    div.nav_coffeewidth {
        width: 80%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.nav_coffeewidth {
        width: 80%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    div.nav_coffeewidth {
        width: 80%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 575px) {
    div.nav_coffeewidth {
        width: 90%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

a.nav_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e7e7e7;
    text-decoration: none;
    font-size: .8rem;
}

@media (max-width: 380px) {
    a.nav_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #e7e7e7;
        text-decoration: none;
        font-size: .6rem;
    }
}

a.nav_icon:hover {
    color: #FBB03B;
}

div.nav_coffee_doubleEspresso {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_doubleEspresso.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    transition: transform .2s ease;
}

@media (max-width: 380px) {
    div.nav_coffee_doubleEspresso {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_doubleEspresso.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_doubleEspresso, a.nav_icon:focus div.nav_coffee_doubleEspresso {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

div.nav_coffee_americanCoffee {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_americanCoffee.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 8px;
    transition: transform .2s ease;
}

@media (max-width: 380px) {
    div.nav_coffee_americanCoffee {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_americanCoffee.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-left: 8px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_americanCoffee, a.nav_icon:focus div.nav_coffee_americanCoffee {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

div.nav_coffee_flatWhite {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_flatWhite.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 8px;
    transition: transform .2s ease;
}

@media (max-width: 380px) {
    div.nav_coffee_flatWhite {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_flatWhite.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-left: 8px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_flatWhite, a.nav_icon:focus div.nav_coffee_flatWhite {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

div.nav_coffee_cappuccino {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_cappuccino.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 8px;
    transition: transform .2s ease;
}

@media (max-width: 380px) {
    div.nav_coffee_cappuccino {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_cappuccino.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-left: 8px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_cappuccino, a.nav_icon:focus div.nav_coffee_cappuccino {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

div.nav_coffee_latte {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_latte.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 8px;
    transition: transform .2s ease;
}

@media (max-width: 380px) {
    div.nav_coffee_latte {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_latte.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-left: 8px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_latte, a.nav_icon:focus div.nav_coffee_latte {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

/* 以上是咖啡種類 */

/* 以下是菜單內容 */

section.section_width {
    width: 60%;
    /* margin-top: 30px; */
}

@media (min-width: 992px) and (max-width: 1199px) {
    section.section_width {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section.section_width {
        width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    section.section_width {
        width: 80%;
    }
}

@media (max-width: 575px) {
    section.section_width {
        width: 80%;
    }
}

h2.coffee_classificationtitle {
    color: #202020;
    font-size: 1.3rem;
}

h2.coffee_classificationtitle::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #FBB03B;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

article.article_width {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    margin-bottom: 80px;
    place-items: center;
}

@media (min-width: 992px) and (max-width: 1600px) {
    article.article_width {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    article.article_width {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    article.article_width {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 539px) {
    article.article_width {
        display: grid;
        grid-template-columns: auto;
    }
}

div.commodity_bg {
    /* border: 1px solid red; */
    width: 12vw;
    min-width: 180px;
    height: 12vw;
    min-height: 180px;
    margin: 0px 0px 100px 0px;
}

div.commodity_sqare {
    width: 12vw;
    min-width: 180px;
    height: 12vw;
    min-height: 180px;
    border-radius: 10px;
    background: #FFCA87;
    margin-bottom: 15px;
    display: flex;
}

img.commodity_sqareitem {
    height: 12vw;
    min-height: 180px;
    /* position: absolute; */
    filter: drop-shadow(0px 10px 10px hsla(24, 85%, 18%, 0.5));
    transition: transform .3s ease;
}

div.commodity_bg:hover img.commodity_sqareitem, div.commodity_bg:focus img.commodity_sqareitem {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

h4.commodity_itemname {
    color: #202020;
}

div.commodity_bg:hover h4.commodity_itemname, div.commodity_bg:focus h4.commodity_itemname {
    color: #FBB03B;
    font-size: 1.1rem;
}

span.commodity_itemen {
    color: #808080;
    font-size: .5rem;
    
}

div.commodity_bg:hover span.commodity_itemen, div.commodity_bg:focus span.commodity_itemen {
    color: #202020;
    font-size: .8rem;
    
}

/* 以上是菜單內容 */