/* 以下是咖啡種類 */

a {
    text-decoration: none;
}

nav.nav_coffee {
    width: 100%;
    position: fixed;
    top: 100px;
    background-color: #202020cc;
    z-index: 1;
}

div.nav_coffeewidth {
    width: 60%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 992px) and (max-width: 1235px) {
    div.nav_coffeewidth {
        width: 80%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.nav_coffeewidth {
        width: 80%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    div.nav_coffeewidth {
        width: 80%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 575px) {
    div.nav_coffeewidth {
        width: 90%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

a.nav_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e7e7e7;
    text-decoration: none;
    font-size: .8rem;
}

@media (max-width: 370px) {
    a.nav_icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #e7e7e7;
        text-decoration: none;
        font-size: .6rem;
    }
}

a.nav_icon:hover {
    color: #FBB03B;
}

div.nav_coffee_doubleEspresso {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_doubleEspresso.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    transition: transform .2s ease;
}

@media (max-width: 370px) {
    div.nav_coffee_doubleEspresso {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_doubleEspresso.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_doubleEspresso, a.nav_icon:focus div.nav_coffee_doubleEspresso {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

div.nav_coffee_americanCoffee {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_americanCoffee.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 8px;
    transition: transform .2s ease;
}

@media (max-width: 370px) {
    div.nav_coffee_americanCoffee {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_americanCoffee.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-left: 8px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_americanCoffee, a.nav_icon:focus div.nav_coffee_americanCoffee {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

div.nav_coffee_flatWhite {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_flatWhite.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 8px;
    transition: transform .2s ease;
}

@media (max-width: 370px) {
    div.nav_coffee_flatWhite {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_flatWhite.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-left: 8px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_flatWhite, a.nav_icon:focus div.nav_coffee_flatWhite {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

div.nav_coffee_cappuccino {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_cappuccino.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 8px;
    transition: transform .2s ease;
}

@media (max-width: 370px) {
    div.nav_coffee_cappuccino {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_cappuccino.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-left: 8px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_cappuccino, a.nav_icon:focus div.nav_coffee_cappuccino {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

div.nav_coffee_latte {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/nav_coffee_latte.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 8px;
    transition: transform .2s ease;
}

@media (max-width: 370px) {
    div.nav_coffee_latte {
        width: 48px;
        height: 40px;
        background-size: contain;
        background-image: url(../image/nav_coffee_latte.png);
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-left: 8px;
        transition: transform .2s ease;
    }
}

a.nav_icon:hover div.nav_coffee_latte, a.nav_icon:focus div.nav_coffee_latte {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

/* 以上是咖啡種類 */

/* 以下是菜單內容 */

div.height {
    height: 240px;
}

div.shopping_flout {
    /* border: 1px solid red; */
    position: fixed;
    /* z-index: 4; */
    top: 240px;
    right: 20%;
}

@media (min-width: 992px) and (max-width: 1620px) {
    div.shopping_flout {
        /* border: 1px solid red; */
        position: fixed;
        /* z-index: 4; */
        top: 240px;
        right: 10%;
    }
}

@media (max-width: 991px) {
    div.shopping_flout {
        display: none;
    }
}

div.shopping_bg {
    /* border: 1px solid blue; */
    height: 380px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px hsla(0, 0%, 16%, 0.5);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px;
    /* margin-left: 30px; */
}

div.shopping_titlebox {
    width: 100%;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px dashed #202020;
}

div.shopping_footerbox {
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px dashed #202020;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.shopping_footerbox_size {
    width: 80%;
}

div.shopping_footerbox_size>div {
    display: flex;
    justify-content: space-between;
}

div.shopping_footerbox_size>div>span {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #202020;
}

span.shopping_title {
    /* border: 1px solid red; */
    font-size: 1.3rem;
    color: #202020;
}

div.shopping_contentbox {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.shopping_contentbox>img {
    width: 20%;
}

div.shopping_contentbox>span {
    margin-top: 10px;
    text-align: center;
    color: #808080;
    line-height: 1rem;
    font-size: .8rem;
}

div.order_list {
    /* border: 1px solid red; */
    width: 40%;
    margin: 0px;
    margin-left: 20%;
}

@media (min-width: 1236px) and (max-width: 1620px) {
    div.order_list {
        width: 52%;
        margin: 0px;
        margin-left: 10%;
    }
}

@media (min-width: 992px) and (max-width: 1235px) {
    div.order_list {
        width: 45%;
        margin: 0px;
        margin-left: 10%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.order_list {
        width: 80%;
        margin: 0px;
        margin-left: 10%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    div.order_list {
        width: 80%;
        margin: 0px;
        margin-left: 10%;
    }
}

@media (max-width: 575px) {
    div.order_list {
        width: 90%;
        margin: 0px;
        margin-left: 5%;
    }
}

h2.coffee_classificationtitle {
    color: #202020;
    font-size: 1.3rem;
}

/* h2.coffee_classificationtitle:first-child {
    color: #202020;
    margin-top: 250px;
    font-size: 1.3rem;
} */

h2.coffee_classificationtitle::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #FBB03B;
    border-radius: 5px;
    margin-top: 5px;
}

article.article_width {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

@media (min-width: 1236px) and (max-width: 1620px) {
    article.article_width {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1235px) {
    article.article_width {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        place-items: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}

@media (min-width: 830px) and (max-width: 991px) {
    article.article_width {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}

@media (min-width: 481px) and (max-width: 829px) {
    article.article_width {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        place-items: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}

@media (max-width: 480px) {
    article.article_width {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        place-items: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}

div.commodity_bg {
    /* border: 1px solid red; */
    padding: 20px;
    margin: 0px 0px 100px 0px;
    /* margin: 30px; */
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(0, 0%, 16%, 0.3);
}

div.commodity_sqare {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background: #FFCA87;
    display: flex;
    margin: 0px;
}

img.commodity_sqareitem {
    height: 160px;
    filter: drop-shadow(0px 10px 10px hsla(24, 85%, 18%, 0.5));
    transition: transform .3s ease;
}

div.commodity_bg:hover img.commodity_sqareitem, div.commodity_bg:focus img.commodity_sqareitem {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

h4.commodity_itemname {
    color: #202020;
    font-size: 1rem;
}

span.commodity_itemen {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

span.commodity_itemen>div {
    margin: 0px;
}

span.size {
    font-size: .8rem;
    color: #202020;
    padding: 0px 5px 0px 0px;
}

span.size2 {
    font-size: .8rem;
    color: #202020;
    padding: 0px 5px 0px 20px;
}

span.price {
    font-size: 1rem;
    color: #FBB03B;
}

div.list_word {
    margin: 15px 0px;
}

button.open {
    background: none;
    border: 3px solid #fbb03b;
    font-size: 1rem;
    padding: .5em;
    width: 160px;
    border-radius: 3.5em;
    color: #fbb03b;
    cursor: pointer;
}

button.shopping_puy {
    background: #808080;
    border: none;
    /* border: 3px solid #fbb03b; */
    font-size: 1.2rem;
    width: 100%;
    padding: .5em 0px;
    border-radius: 3.5em;
    color: #ffffff;
    cursor: default;
}