/* 以下是訂閱種類 */
a {
    text-decoration: none;
}



nav.nav_coffee {
    width: 100%;
    position: fixed;
    top: 100px;
    background-color: #202020cc;
    z-index: 1;
}

div.height{
    height: 240px;
}

div.nav_coffeewidth {
    width: 60%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 992px) and (max-width: 1199px) {
    div.nav_coffeewidth {
        width: 80%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.nav_coffeewidth {
        width: 80%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    div.nav_coffeewidth {
        width: 80%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 575px) {
    div.nav_coffeewidth {
        width: 90%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


a.nav_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e7e7e7;
    text-decoration: none;
    font-size: .8rem;
}

a.nav_icon:hover {
    color: #FBB03B;
}

div.sub_boutique {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/sub_boutique_icon.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 4px;
}

div.sub_tiny {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/sub_tiny_icon.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 8px;
}

div.sub_style {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/sub_style_icon.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
    margin-left: 4px;
}

div.sub_qa {
    width: 60px;
    height: 50px;
    background-size: contain;
    background-image: url(../image/sub_qa_icon.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

/* 以上是訂閱種類 */

/* 以下是菜單內容 */

section.section_width {
    width: 60%;
    /* margin-top: 30px; */
}

@media (min-width: 992px) and (max-width: 1199px) {
    section.section_width {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section.section_width {
        width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    section.section_width {
        width: 80%;
    }
}

@media (max-width: 575px) {
    section.section_width {
        width: 80%;
    }
}




h2.coffee_classificationtitle {
    color: #202020;
    /* margin-top: 30px; */
    font-size: 1.3rem;
}

h2.coffee_classificationtitle::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #FBB03B;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

article.article_width {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 80px;
    place-items: center;
}

@media (min-width: 992px) and (max-width: 1600px) {
    article.article_width {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    article.article_width {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    article.article_width {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 539px) {
    article.article_width {
        display: grid;
        grid-template-columns: auto;
    }
}

div.commodity_bg {
    /* border: 1px solid red; */
    width: 12vw;
    min-width: 180px;
    height: 12vw;
    min-height: 180px;
    margin: 0px 0px 100px 0px;
}

div.commodity_sqare {
    width: 12vw;
    min-width: 180px;
    height: 12vw;
    min-height: 180px;
    /* border: 1px solid red; */
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

img.commodity_sqareitem {
    width: 100%;
    transition: transform .3s ease;
}

div.commodity_bg:hover img.commodity_sqareitem, div.commodity_bg:focus img.commodity_sqareitem {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}


h4.commodity_itemname {
    color: #202020;
}

div.commodity_bg:hover h4.commodity_itemname, div.commodity_bg:focus h4.commodity_itemname{
    color: #FBB03B;
    font-size: 1.1rem;
}

span.commodity_itemen {
    color: #808080;
    font-size: .5rem;
    
}

article.qa_width {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
}

div.qa_content {
    display: flex;
    flex-direction: column;
}

div.qa_content>span {
    margin: 0px;
}

div.qa_content>span:first-child {
    color: #202020;
    font-size: 1.2rem;
}

div.qa_content>span:last-child{
    margin-top: 10px;
    margin-bottom: 60px;
    color: #202020;
    font-size: .8rem;
    
    line-height: 1.2rem;
}

/* 以上是菜單內容 */