a {
    text-decoration: none;
}

div.height {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid red;
    background-color: #202020;
}

/* div.banner_bg {
    border: 1px solid red;
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
} */

img.banner_img {
    width: 100vw;
    border: 1px solid red;
    /* max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

div.banner_switch {
    width: 95%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

path.right_icon {
    fill: #ffffff;
}

div.left_bg {
    background-image: url(../image/angle-left-solid.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    z-index: 1;
    margin: 0px;
}

div.right_bg {
    background-image: url(../image/angle-right-solid.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    z-index: 1;
    margin: 0px;
}

div.circle_position {
    position: absolute;
    top: 92%;
    left: 50%;
    z-index: 2;
}

div.circle_fill {
    background-color: #ffffff;
    border-radius: 5px;
    height: 5px;
    width: 40px;
}

div.circle_transparent {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 5px;
    height: 5px;
    width: 40px;
}

div.circle_group {
    position: absolute;
    left: -130px;
    width: 260px;
    display: flex;
    justify-content: space-between;
}

article.article_width {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 80px;
    margin-bottom: 80px;
    place-items: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
    article.article_width {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 80px;
        margin-bottom: 80px;
        place-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    article.article_width {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 80px;
        margin-bottom: 80px;
        place-items: center;
    }
}

@media (min-width: 740px) and (max-width: 767px) {
    article.article_width {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 80px;
        margin-bottom: 80px;
        place-items: center;
    }
}

@media (min-width: 511px) and (max-width: 739px) {
    article.article_width {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 80px;
        margin-bottom: 80px;
        place-items: center;
    }
}

@media (max-width: 510px) {
    article.article_width {
        width: 80%;
        display: grid;
        grid-template-columns: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        place-items: center;
    }
}

div.commodity_bg {
    /* border: 1px solid red; */
    width: 12vw;
    min-width: 180px;
    margin: 0px 0px 40px 0px;
}

div.commodity_sqare {
    width: 12vw;
    min-width: 180px;
    height: 12vw;
    min-height: 180px;
    /* border: 1px solid red; */
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

div.commodity_sqare>img {
    width: 100%;
    transition: transform .3s ease;
}

div.commodity_bg:hover div.commodity_sqare>img, div.commodity_bg:focus div.commodity_sqare>img {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

h4.commodity_itemname {
    color: #202020;
    font-size: 1rem;
}

div.commodity_bg:hover h4.commodity_itemname, div.commodity_bg:focus h4.commodity_itemname {
    color: #FBB03B;
    font-size: 1.1rem;
}

span.commodity_itemen {
    color: #808080;
    font-size: .5rem;
    font-family: gensen_r;
}

div.commodity_bg:hover span.commodity_itemen, div.commodity_bg:focus span.commodity_itemen {
    color: #202020;
    font-size: .8rem;
    font-family: gensen_r;
}